/* .container{
    border: 2px solid royalblue;
    height: 500px;
    width: 100%;
} */
.container1{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    
    margin: 30px;
}
#a{
    font-weight: bolder;
    color: rgb(43, 5, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.container2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    /* border: 2px solid red; */
    /* height: 100px;
    width: 200px; */
} 